{% include 'template_2.yaml.j2' %}
{% import 'macro.j2' as macro %}

string_1: {{ string_1 }}
integer_1: {{ integer_1 }}
float_1: {{ float_1 }}
dict_1:
{% for key, value in dict_1.items() %}
    {{ key }}: {{ value }}
{% endfor %}

dict_2:
    {{ macro.test_macro('string_6', 'string')}}